# Semana 5
Miguel Angel Yauricasa Mendoza

Temas

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de cadenas

In [25]:
cadena="Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [26]:
#Universidad Nacional Tecnologica de Lima Sur

In [27]:
cadena[5]

'r'

In [28]:
cadena[10]

'd'

In [29]:
cadena[11]

' '

In [30]:
cadena[21]

'T'

In [31]:
cadena[-23]

'T'

In [32]:
#Para mostrar una subcadena [desde, hasta una antes]
#En java era substring()
cadena[3:8]

'versi'

In [33]:
#Para saber el tamaño de una cadena utilizamos len()
#incluyes espacios en blanco
len(cadena)

44

In [34]:
#Para mostrar una cadena en MAYUSCULA utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [35]:
#Si desearas cambiarlo harias
cadena= cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [36]:
#Para mostrar en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [37]:
#Para generar una lista a partir de una cadena utilizamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [38]:
#Para generar una lista utilizamos un criterio de separacion a partir de una cadena split()
#en este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separacion la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [40]:
#Forma clasica de concatenar con +
nombre=" Miguel Yauricasa"
print("Buenos Días" + nombre)

Buenos Días Miguel Yauricasa

In [41]:
#utilizando el .format()
nombre="Jose Chamba"
edad= 20
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Jose Chamba ya se que tienes 20 años

In [42]:
#Dar formato con muchos decimales 
resultado= 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [45]:
#Dar formato con f
#La funcion f, esta disponible desde la version 3,6
nombre= "Miguel Angel"
edad= 20
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Miguel Angel, ya sé que tienes 20 años

In [46]:
#Dar formato a numeros con muchos decimales con f 
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333