# Semana05
Miguel Angel Yauricasa Mendoza

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [10]:
numero1 = 10
numero2 = 3
suma= numero1 + numero2
resta= numero1 - numero2
multiplicacion= numero1 * numero2
division= numero1 / numero2
residuo= numero1 % numero2
potencia= numero1 ** numero2
cociente= numero1 // numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [11]:
#5.2 Operadores de asignacion
#Se tiene: 
numero = 5
numero = numero + 3
print(numero)

8

In [12]:
#La operacion anterior tambien se puede expresar de la siguiente nnumero:
numero = 5
numero += 3
print(numero)

8

In [13]:
#ejemplo
numero = 5 
numero = numero **3
print(numero)

125

In [14]:
numero = 5
numero **=3
print(numero)

125

In [15]:
#se tiene:==, !=,< , >, <= , >=,

In [16]:
numero1= 5
numero2= 2
numero1 == numero2

False

In [17]:
nombre1 = "frank"
nombre2 = "frank"
nombre1 == nombre2

True

In [18]:
#5.4 operadores logicos 
#se tiene: and, or, not
numero1=5
numero2=6
numero3=7
numero4=8

In [19]:
numero1 < numero2

True

In [20]:
#el not invierte el resultado
not(numero1 < numero2)

False

In [21]:
numero1<numero2 and numero3<numero4

True

In [23]:
#Tambien puedes utilizar parantesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [24]:
#5.5 Operadores de pertenencia
#Se tiene: in, not in

In [34]:
#ejemplo:
aula = ["Miguel","Jose","Edson"]
alumno1 = "Diego"
alumno2 = "Jose"

In [35]:
#¿Diego esta en el aula?
alumno1 in aula

False

In [36]:
#¿frank esta en aula?
alumno2 in aula

True

In [37]:
#5.6 Operadores de Identidad
#Se tiene: is, is not

In [39]:
aula1 = ["Juan","Daniel","Ruben"]
aula2 = ["Juan","Daniel","Ruben"]
#A continuacion vamos a indicar que aula 3 va a ccompartir el mismo objeto que el aula 1
aula3 = aula1

In [40]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [41]:
# aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [42]:
# aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [43]:
aula1.append("Diego")

In [44]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [45]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [46]:
print(aula2)

['Juan', 'Daniel', 'Ruben']

In [52]:
aula3= aula2

In [53]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego en 3']

In [54]:
aula3.append("Diego en 3")

In [55]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego en 3', 'Diego en 3']

In [56]:
print(aula2)

['Juan', 'Daniel', 'Ruben', 'Diego en 3', 'Diego en 3']