# SEMANA 06
Miguel Angel Yauricasa Mendoza

1.Coleccion de Datos

In [1]:
#1.1. Listas
#Es una coleccion de elementos que pueden ser ordenadas, modificadas, etc...
#Se identifica por los corchetes
#Ejemplo:
aula = ['Yauricasa','Granados','Alva','Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [2]:
#Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Yauricasa
Granados

In [3]:
#Puedo asignar un valor a una posición de la lista 
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [4]:
#Mostramos como quedo la lista
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [16]:
#Para agregar un elemento utilizamos append
aula.append("Huaman")
aula.append("Huancas")

In [17]:
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huaman', 'Huancas', 'Huaman', 'Huancas']

In [19]:
#Para eliminar elementos utilizamos remove[]
aula.remove("Huaman")
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Huaman', 'Huancas']

In [20]:
#Si hubiera varios elementos de valores iguales se elimina lo primero coincidencia
aula.remove("Chavez")
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Huaman', 'Huancas']

In [21]:
#Para obtener el tamaño utilizamos len()
len(aula)

6

In [22]:
aula.pop(2)

'Huaman'

In [23]:
aula

['Alva', 'Laura', 'Huancas', 'Huaman', 'Huancas']

In [24]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huancas
Huaman
Huancas

In [25]:
aula.append("Vilca")
aula.append("Gavino")
aula

['Alva', 'Laura', 'Huancas', 'Huaman', 'Huancas', 'Vilca', 'Gavino']

In [28]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huancas
Huaman
Huancas
Vilca
Gavino

In [29]:
#Para invertir la lista utilizamos reverse()
# Invertir NO SIGNIFICA ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gavino', 'Vilca', 'Huancas', 'Huaman', 'Huancas', 'Laura', 'Alva']

In [30]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Alva', 'Gavino', 'Huaman', 'Huancas', 'Huancas', 'Laura', 'Vilca']

In [31]:
#1.2 Tuplas
# Es una coleccion de elementos ordenada(ordenado significa que tiene un indice) que no se pueden modificar 
# es  INALTERABLE.
# NO SE PUEDE AGREGAR ELEMENTOS  NI ELIMINAR. 
# SE IDENTIFICAN POR LOS PARENTESIS 
tupla_aula=('Granados','Julca','Cusi','Marcos')
tupla_aula

('Granados', 'Julca', 'Cusi', 'Marcos')

In [32]:
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [33]:
#Se puede extraer un elemento por su posición
tupla_aula[2]

'Cusi'

In [34]:
len(tupla_aula)

4

In [35]:
#1.3 Conjuntos
#Es una colección de elementos que no esta ordenado( significa que no tiene un indice)
conjunto_aula = {'Granados','Julca','Cusi','Marcos'}
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos'}

In [36]:
#Se puede recorrer utilizando una estructura repetitiva
#Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Julca
Cusi
Granados
Marcos

In [37]:
#Observaciones : No se puede acceder por posición porque no considera indexación
#Ejemplo:
#conjunto_aula[2] devolver un mensaje de error

In [38]:
len(conjunto_aula)

4

In [39]:
#Para agregar utilizamos la funcion add()
conjunto_aula.add("Motta")
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos', 'Motta'}

In [40]:
conjunto_aula.remove("Granados")
conjunto_aula

{'Cusi', 'Julca', 'Marcos', 'Motta'}

In [41]:
#1.4 Diccionarios
#Es una coleccion de elementos, que estan indexados , no ordenados y se pueden modificar 
#Son escritos entre llaves y estan formados por pares de elementos  INDICE : VALOR

diccionario_aula = {2:'Cusi','1':'Julca','dos':'Marcos','0':'Motta'}
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta'}

In [42]:
# Del diccionario: diccionario_aula estraer el valor cuyo indice sea cero en String:
diccionario_aula['0']

'Motta'

In [43]:
diccionario_aula["dos"]

'Marcos'

In [44]:
diccionario_aula['20']="Serna"
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [45]:
#Para eliminar un valor se utiliza pop()
#Ejemplo: Eliminar el elemento de indice dos:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [46]:
#Tambien se puede eliminar utilizando del()
del (diccionario_aula["dos"])
diccionario_aula

{'1': 'Julca', '0': 'Motta', '20': 'Serna'}

In [47]:
# Para recorrer todos los elementos utilizamos for 
#Ejemplo: devuelve indices
for indice in diccionario_aula:
    print(indice)

1
0
20

In [48]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Julca
0 Motta
20 Serna

In [58]:
#1.5. Ejercicio:
# Dado una lista de [Alanya]
lista = ["ALANYA" 
,"ALVA"
,"AZAÑERO" 
,"CARRASCO" 
,"CCACCYA" 
,"COSME" 
,"CUSI" 
,"DIAZ" 
,"FLORES" 
,"GOMEZ" 
,"GOMEZ" 
,"GRANADOS" 
,"HUANCAS"
,"JULCA" 
,"LAURA" 
,"MOTTA" 
,"PINEDO" 
,"PONCE" 
,"QUINTANA"
,"RODRIGUEZ" 
,"SERNA" 
,"VILCA" 
,"YAURICASA"]

#Diseñar un codigo que muestre si el apellido de un estudiante (ingreso por teclado forma parte de la lista)

apellido = input("Ingresa un apellido: ")
bandera = False
for alumno in lista:
    alumno = alumno.capitalize()
    alumno = apellido.capitalize()
    if apellido == alumno:
        print("Si se encuentra")
        bandera = True
        break
        
        
if bandera == False:
    print("No se encuentra")

Ingresa un apellido: Motta
No se encuentra

In [56]:
Pepito

NameError: name 'Pepito' is not defined